.sidebar{
    flex:1;
    height: calc(100vh - 50px);
   
    position:sticky;
    top:50px;
}
.sidebarTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebarTitle{
    margin-left: 20px;
    font-size: 20px;
    color:#32c2b4;
}
.sidebarArrow{  
    float: right;
    align-items: center;
    size: x-large;
    color: #32c2b4;
    cursor: pointer;
}
.sidebarList{
    list-style: none;
    padding: 15px;
}
.sidebarListItem{
    padding: 16px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #32c2b4;
}

.sidebarIcon{
    margin-right: 5px;
    size:large;
    color: #32c2b4;
}

.headerOverlay {
  position: absolute;
  z-index: 98;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  height: 100vh;
}